{% load mooshell_extras %}
{% with shell.external_resources.all|length as resources_length %}
<h3 class='toggler{% if shell.external_resources.all %} filled{%endif %}' id='resources_toggler'>
	{% if resources_length %}Manage{% else %}Add{% endif %} Resources{% if resources_length %} <em>({{ resources_length }})</em>{% endif %}
</h3>
{% endwith %}

<div class='element' id='resources_element'>
	<div class="elementBody">
		<div class="ebCont">
			<div id="external-resources-form">
				<input id="external_resource" type="text" value="" />
				<a id="add_external_resource" class="submit" href="#" title="Add resource"><span>Add</span></a>
			</div>
			<input type='hidden' value='' id='external_resources_id' name='add_external_resources' />
			
			<ul id='external_resources_list'>
			<script type='text/javascript'>var resources = [];</script>
			{% for res in external_resources %}
				<li id='external_resource_{{ res.resource.id }}'>
					<a class='filename' target="_blank" href="{{ res.resource.url }}" title="{{ res.resource.url }}">
						{{ res.resource.filename }}
					</a>
					<a onclick='remove_resource({{ res.resource.id }})' class='remove'>
						Remove
					</a>
				</li>
				<script type='text/javascript'>resources.push({{ res.resource.id }})</script>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

<script type='text/javascript'>
	var default_text = 'JavaScript/CSS URL',
		add_external_resource_url = "{% url add_external_resource %}";

</script>
