<h3 class="toggler">Legal stuff and credits</h3>
<div class="element">
  <div class="elementBody">
    <div class="ebCont">    
      <p>Created and maintained by <a title="Piotr's homepage" href="http://webdev.zalewa.info" target="_credits">Piotr</a> and <a title="Oskar's homepage" href="http://nouincolor.com/" target="_credits">Oskar</a>.</p>
      <p>It wouldn't exist without <a href="http://mootools.net" target="_new">MooTools</a> community.</p>
      <p><strong>License</strong></p>
      <p>All code belongs to the poster and no license is enforced.</p>
      <p>We are not responsible or liable for any loss or damage of any kind during the usage of provided code.</p>
    </div>
  </div>
</div>
