<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>{{ shell.title }} - jsFiddle demo{% if shell.author %} by {{ shell.author }}{% endif %}</title>
  <script type='text/javascript' src='{{ shell.js_lib.href }}'{% if shell.js_lib_option %} {{ shell.js_lib_option|safe }}{% endif %}></script>
  {% for js in dependencies %}<script type="text/javascript" src="{{ js.url }}"></script>
  {% endfor %}
  {% if shell.normalize_css %}<link rel="stylesheet" type="text/css" href="{% url mooshell_css "normalize.css" %}">{% endif %}
  {% if skin %}<link rel="stylesheet" type="text/css" href="{{ skin_css }}">{% endif %}
  {% for res in resources %}
    {% ifequal res.extension "css" %}
      <link rel="stylesheet" type="text/css" href="{{ res.url|safe }}">
    {% endifequal %}
    {% ifequal res.extension "js" %}
      <script type='text/javascript' src="{{ res.url|safe }}"></script>
    {% endifequal %}
  {% endfor %}
  <style type='text/css'>
    {{ css|safe }}
  </style>
  {% ifnotequal shell.js_wrap "b" %}
    {% ifequal shell.panel_js 1 %}<script type="text/coffeescript">{% endifequal %}
    {% if not shell.panel_js %}<script type='text/javascript'>//<![CDATA[{% endif %} 
  {% if not shell.panel_js %}{{ wrap.code_start|safe }}{% endif %}
{{ js|safe }}
  {% if not shell.panel_js %}{{ wrap.code_end|safe }}//]]> {% endif %} 
  </script>
  {% endifnotequal %}
</head>
{{ shell.body_tag|default:"<body>"|safe }}
  {{ html|safe }}
  {% ifequal shell.js_wrap "b" %}
    {% ifequal shell.panel_js 1 %}<script type="text/coffeescript">{% endifequal %}
    {% if not shell.panel_js %}<script type='text/javascript'>//<![CDATA[{% endif %} 
  {% if not shell.panel_js %}{{ wrap.code_start|safe }}{% endif %}
{{ js|safe }}
  {% if not shell.panel_js %}{{ wrap.code_end|safe }}//]]> {% endif %} 
  </script>
  {% endifequal %}
</body>

